.Footer .footer_menu img, .header .logo .logoImg img:hover {
  -webkit-transition: 500ms ease-in; /* Safari and Chrome */
  -moz-transition: 500ms ease-in; /* Firefox 4 */
  -o-transition: 500ms ease-in;
}

.header .logo .logoImg img, .header .logo img {
  z-index: 100;
  opacity: 100%;
}

.head_menu .menu_container .btn button {
  width: 150px;
  height: 42px;
  border-left: solid 2px rgba(255, 255, 255, 0.656);
  border-right: solid 2px rgba(255, 255, 255, 0.656);
  border-top: none;
  border-bottom: none;
  background: rgba(0, 12, 245, 0);
  color: #ffffff;
  padding: auto;
  font-size: 20px;
  position: relative;
  box-sizing: border-box;
  transition: all 250ms ease;
  -webkit-text-stroke: 0.2px black;
  font-weight: bold;
}
.head_menu .menu_container .btn button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 42px;
  background: rgba(255, 255, 255, 0.407);
  transition: all 1000ms ease;
}
.head_menu .menu_container .btn button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 42px;
  background: rgba(255, 255, 255, 0.407);
  transition: all 1000ms ease;
}
.head_menu .menu_container .btn button:hover:before, .head_menu .menu_container .btn button:hover::after {
  width: 50%;
}
.head_menu .menu_container .btn button:hover {
  border: none rgba(255, 0, 0, 0);
  transition: all 250ms ease;
}

:root {
  --h1-fsz:25px;
  --h2-fsz:18px;
  --h3-fsz:16px;
  --p-fsz:14px;
  --bh-color:rgba(149, 147, 147, 0.49);
  --f-color:white;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  width: 100vw;
  height: 100vh;
  place-content: center;
}

.header {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  z-index: 10;
  font-size: 10px;
  color: black;
  background-color: rgba(91, 91, 91, 0.422);
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.header .logo img {
  width: 100px;
  height: 100px;
}
.header .logo .logoImg img {
  width: 100px;
  height: 100px;
}
.header .logo .logoImg img:hover {
  filter: drop-shadow(0 0 10px black);
  transition: 500ms ease-in;
}
.header .logo .logoImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5%;
  width: 250px;
  height: 100px;
}

.head_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.head_menu .menu_container {
  margin: 0 10%;
  width: 100px;
  height: 50px;
}

.Body {
  position: fixed;
  top: 100px;
  display: grid;
  width: 100vw;
  min-height: calc(100vh - 100px - 50px);
}
.Body .BodyContainer {
  position: fixed;
  display: grid;
  width: 100vw;
  min-height: calc(100vh - 100px - 50px);
}
.Body .BodyContainer .containerText {
  margin-top: 0%;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}
.Body .BodyContainer .containerText h1 {
  font-size: 70px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: white;
  width: 100vw;
  height: 50px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}
.Footer .footer_menu {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 100px;
  height: 100%;
}
.Footer .footer_menu h1 {
  font-size: 15px;
}
.Footer .footer_menu a {
  text-decoration: none;
}
.Footer .footer_menu span {
  font-size: 10px;
  font-style: italic;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.Footer .footer_menu img {
  margin: auto;
  width: 40px;
  height: 40px;
  filter: brightness(80%);
}
.Footer .footer_menu img:hover {
  width: 45px;
  height: 45px;
  filter: brightness(120%);
}/*# sourceMappingURL=style.css.map */