@font-face {
    font-family: "Rurik (viking)";
    src: url("Rurikviking-Regular.eot");
    src: url("Rurikviking-Regular.eot?#iefix") format("embedded-opentype"), url("Rurikviking-Regular.woff2") format("woff2"), url("Rurikviking-Regular.woff") format("woff"), url("Rurikviking-Regular.ttf") format("truetype"), url("Rurikviking-Regular.svg#Rurikviking-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body.active-modal{
    overflow-y: hidden;
}
.btn-modal{
    padding: 10px 20px;
    display: block;
    max-width: 100px auto 0;
    font-size: 18px;
}
.modal,.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    
}

.overlay{
    background-color: rgb(49, 49, 49,0.8);
}
.modal-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.4;
    background-color: white;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

